@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
#ReactImgInput{
	border-radius: 100%;
	background-color: #999;
	position: relative;
	border:1px solid #999;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: fit-content;
	input{
		display: none!important;
	}
	aside {
		position: absolute;
		border: 5px solid #d4d2d2; /* Light grey */
		border-top: 5px solid #3498db; /* Blue */
		border-radius: 50%;
		width: 110%;
		height: 110%;
		animation: spin 0.6s linear infinite;
	}
	button{
		border: none;
		border-radius: 100%;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 0;
		right: 5px;
		cursor: pointer;
		height: 25%;
		width: 25%;
		&:hover,&:focus{
			outline: none;
		}
	}
	img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: top;
		border-radius: 100%;
	}
}

#ReactImgInputCropModal{
	position: fixed;
	top: 0;
	left: 0;
	background-color:  rgba(0, 0, 0, 0.87);;
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;
	z-index: 999999999999999999999999999999999999999999999999999;
	display: flex;
	align-items: center;
	justify-content: center;
	& *{
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif!important;
		font-weight: bolder!important;
	}
	section{
		max-width: 600px;
		width: 100%;
		padding: 0 2%;
		border-radius: 4px;
		display: flex;
		max-height: calc(100% - 64px);
		flex-direction: column;
		position: relative;
		overflow-y: auto;
		color: rgba(0, 0, 0, 0.87);
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		h1{
			text-align: left;
			flex: 0 0 auto;
			font-size: 1.5em!important;
			margin-block-start: 0.83em!important;
    		margin-block-end: 0.83em!important;
		}
		article{
			flex: 1 1 auto;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			aside {
				border: 5px solid #f3f3f3; /* Light grey */
				border-top: 5px solid #3498db; /* Blue */
				border-radius: 50%;
				width: 50px;
				height: 50px;
				animation: spin 0.5s linear infinite;
				margin: 2%;
			}
		}
		div{
			flex: 0 0 auto;
			display: flex;
			padding: 10px;
			align-items: center;
			justify-content: space-between;
			button{
				background-color: rgba(25, 118, 210, 0.04);
				padding: 6px 15px;
				font-size: 0.875rem;
				min-width: 64px;
				box-sizing: border-box;
				font-weight: 500;
				line-height: 1.75;
				border-radius: 4px; 
				letter-spacing: 0.02857em;
				text-transform: uppercase;
				border: 0;
				cursor: pointer;
				margin: 0;
				display: inline-flex;
				outline: 0;
				position: relative;
				align-items: center;
				user-select: none;
				border-radius: 0;
				vertical-align: middle;
				justify-content: center;
				text-decoration: none;
				background-color: transparent;
				-webkit-tap-highlight-color: transparent;
			}
		}
	}
}

@media screen and (max-width:500px){
	#ReactImgInputCropModal{
		section{
			width: 100%;
			height: 100vh;
			max-width: 100%;
			max-height: none;
			border-radius: 0;
			padding: 0;
			h1{
				background-color: rgb(241, 241, 241);
				border-bottom: 1px solid #ccc;
				margin: 0;
				padding: 3%;
				margin: 0!important;
			}
			article{
				background-color: transparent!important;
				flex:none;
				position: fixed;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				canvas{
					height: 100%;
					width: 100%;
				}
			}
			div{
				position: fixed;
				bottom: 0;
				width: 100%;
			}
		}
	}
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}